
body{
    margin:0px;
    padding:0px;
    background-color:skyblue;
    height:100vh;
    width: 100vw;
}
.barColor{
    background-color: white;
    border: 2px solid black;
    height:120px;
    padding: 20px;
    border-radius: 50px;
    display: flex ;
}

head{
    background-color:greenyellow;
    color:black;
    display:block;
    
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    
}